/* Debug Stuff */
/*{outline: 1px solid red}*/

body {
  padding: 0;
  margin: 0;
  background-color: #fff;
  font-family: 'Averia Libre', cursive;
  color: #000;
}

h1 {
  font-size: 30px;
  margin: 0;
}

#content {
  background-color: #212121;
}

.container {
  padding: 0 4em 0 4em;
}
.row {
  margin: 0 auto;
}
.row::after {
    content: "";
    clear: both;
    display: table;
}

[class*="col-"] {
    width: 100%;
}

@media only screen and (min-width: 1081px) {
  .col-2, .col-4, .col-6, .col12{
    float: left;
  }
  .col-1{width:8.33333%;}
  .col-2{width:16.66666%;}
  .col-3,.col-quarter{width:24.99999%;}
  .col-4,.col-third{width:33.33333%;}
  .col-5{width:41.66666%;}
  .col-6,.col-half{width:49.99999%;}
  .col-7{width:58.33333%;}
  .col-8,.col-twothird{width:66.66666%;}
  .col-9,.col-threequarter{width:74.99999%;}
  .col-10{width:83.33333%;}
  .col-11{width:91.66666%;}
  .col-12{width:99.99999%;}

  .container {
    padding: 0 8em 0 8em;
  }

  .headshot {
    width: 30%;
    float: left;
  }
  .member-bio {
    width: 65%;
    float: left;
    padding: 0 0 0 16px;
    font-size: 18px;
  }
  .overlay {
  position: relative;

  }
  .overlay::after {
    opacity: 0;
    transition: opacity .4s;
  }
  .overlay:hover:after {
    content: "";
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: .5;
    /*box-shadow: 0px 0px 20px 20px rgba(0,0,0,.7)*/

  }
  .member-buttons {
    display: none;
  }
}
.layer {
  background-position: bottom center;
  background-size: auto;
  background-repeat: no-repeat;
  width: 100%;
  height: 800px;
  position: fixed;
  z-index: -1;
}

.section {
  color: #fff;
}

.first-section {
  padding: 12px 0 0 0;
  margin-top: 0;
}

.text-header {
  font-size: 50px;
  text-align: center;
}

.section-title {
  font-family: "Averia Gruesa Libre", cursive;
  font-size: 48px;
  text-align: center;
  margin: 16px 0;
}

.section-text, .member-container {
  font-size: 1.6em;
  line-height: 150%;
}
.team-photo {
  text-align: center;
  margin-bottom: 16px; 
}
.team-photo img {
  width: 100%;
  max-width: 800px
}
.member-container {
  height: 100%;
}
.member-container::after { 
 content: " ";
 display: block; 
 height: 0; 
 clear: both;
}
.headshot {
  width: 30%;
  float: left;
}
.headshot img {
  vertical-align: top;
}
.member-bio {
  width: 65%;
  float: left;
  padding: 0 0 0 16px;
  font-size: 18px;
}

.headshot img {
  width: 100%;
}
.member-buttons {
  list-style: none;
  margin: 0 auto;
  padding: 0;
  transition: filter .2s;
}
.member-buttons li:hover {
  filter: invert(70%);
}
#linkedin-logo {
  width: 30%;
  max-height: 30px;
  float: left;
}
#twitter-logo {
  width: 27%;
  float: left;
  margin-left: 8%;
}
#website-logo{
  width: 27%;
  float: right;
}
.social-media-icons {
  margin: 0 0 16px 0;
  text-align: center;
}
.social-media-icons img{
  width: 50px;
  margin: 0 4px 0 4px;
  transition: filter .3s;
  filter: drop-shadow(0 6px 0 black) brightness(100%);
}
.social-media-icons img:hover{
  filter: drop-shadow(0 0px 0 black) brightness(30%);
}


/****************
 *              *
 * Parallax CSS *
 *              *
 ****************/


#splash, .layer {
  height: 100vh;
}

.layer-bg {
  background-image: url("../images/wave_bg.jpg");
   background-size: cover;
}

.layer-1 {
  min-width: 100%;
  font-family: 'Averia Serif Libre', cursive;
  font-size: 8rem;
  color: #fff;
  text-align: center;
  margin-top: 40vh;
}

.layer-2 {

}

.layer-3 {
  background-image: url("../images/wave_bot.png");
  background-size: 100% 30%;
  background-position: 0 75%;
}

.layer-4 {
  background-image: url("../images/wave_wash.png");
  background-size: 100% 40vh;
  background-position: bottom;
}
