body, html {
	height: 100%
}

.surface {
	background-image: url("./images/surface2.jpg");
	min-height: 100%;
    background-position: center;
    background-size: cover;
}
.splash {
	min-width: 100%;
	position: relative;
	font-family: 'Averia Serif Libre', cursive;
	font-weight: 300;
	font-size: 8rem;
}
.center {
	text-align: center;
	/*position: absolute;*/
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%)
}
.text-padding {
	padding: 0 8px 0 8px;
}
.section-title {
	font-size: 3em;
	font-family: 'Averia Gruesa Libre', cursive;
	padding: 8px;
}
.section-text {
	font-family: 'Averia Libre', cursive;
	font-size: 2em;
}
.section-title, .section-text{
	text-align: center;
}